@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

body {

	margin:0;

	padding:0;

	border:0;

	position:absolute;

	height:100%;

	width:100%;

	z-index:0;

	font-family: Arial, Helvetica, sans-serif;

	background-color: #302f2f;

}
body {
  position: static; /* ou remove */
  height: auto;
}
[data-aos] { opacity: 1 !important; transform: none !important; pointer-events: auto !important; }
.print a {
  color: transparent;
  font-size: 0;
}
.spip-admin-float {
  display: none;
}
.editer-label.label {
  font-weight: normal;
  text-transform: initial;
  padding: 0;
}
.billingAddress p {
  color: #FFF !important;
}
.css-2tgwcn-labelStyles.css-168tag2-StyledLabel.e1w1a1oi2 {
}
.css-2tgwcn-labelStyles {
  color: #FFF !important;
}
#root {
  background-color: #FFF;
  padding: 20px;
}
.paypal-button.paypal-button-number-1.paypal-button-layout-vertical.paypal-button-shape-rect.paypal-button-number-multiple.paypal-button-env-production.paypal-button-color-black.paypal-button-text-color-white.paypal-logo-color-white {
  display: none;
}

.roboto {font-family: 'Roboto', sans-serif;text-shadow: 0px 2px 2px #000;font-weight: 400;color: #FFF; }

#roboto_menu a{

    font-family: 'Roboto', sans-serif;

    font-weight: 400;

    font-size: 13px;

    text-shadow: 0px 0px 0px #000;

    text-transform: uppercase;

}

.formulaire_inscription .explication, .formulaire_inscription .editer label, .saisie_nom_inscription > label, .saisie_mail_inscription > label	{

	font-size: 12px;	

}
#card-fields-container {
  background-color: #FFF;
}

.formulaire_spip .editer_password .details > a {

    font-size: 11px;

}

.concert p.txt_jaune {

    padding: 0;

    margin: 10px 15px 10px 0;

    text-align: justify;

}

.concert p.txt_jaune strong {

    color: #FFE720;

}

.inscription .formulaire_spip form {

    margin: 0;

    padding: 20px 20px 0;

}

.img_float {

    float: left;

    margin: 0 25px 10px 0;

}

.img_float > img {

    border: 1px solid #333;

    margin: 0;

    padding: 2px;

}

#txt_bot_acc > a {

    color: #999;

}

li.editer.editer_oui_non_1 div.choix label {

    width: 34px;

    padding: 2px 0 3px 9px;

    margin: 4px 0 0 0;

}

li.editer.editer_oui_non_1 label {

    width: 100%;

}

li.editer.editer_oui_non_1 div.choix input {

    width: 20px;

    padding: 0;

    margin: 6px 0 0 0;

}

li.editer.editer_oui_non_1 label {

    width: 80%;

}

li.editer.editer_oui_non_2 label {

    width: 80%;

	margin: 15px 5px 5px 0;

}

.formulaire_spip li.editer.editer_oui_non_1 select, .formulaire_spip li.editer.editer_oui_non_2 select {

    width: 15%;

}
.formulaire_spip li.editer.editer_oui_non_2 select {
	margin-top:15px;

}

margin-top

li.editer.editer_oui_non_2 div label {

    width: 30px;

    margin: 0 9px 10px 0px;

}



a:link {

	color: #FFFFFF;

	text-decoration: none;

}



a:visited {

	color: #FFFFFF;

	text-decoration: none;

}

a:hover {

	color: #CCCCCC;

	text-decoration: none;

}

a:active {

	color: #FFFFFF;

	text-decoration: none;

}



.a_jaune:link {

	color: #A2A2A2;

	text-decoration: none;

}

.a_jaune:visited {

	color: #A2A2A2;

	text-decoration: none;

}

.a_jaune:hover {

	color: #E8E800;

	text-decoration: none;

}

.a_jaune2:active {

	color: #A2A2A2;

	text-decoration: none;

}

.a_jaune2:link {

	color: #FFFFFF;

	text-decoration: none;

}

.a_jaune2:visited {

	color: #FFFFFF;

	text-decoration: none;

}

.a_jaune2:hover {

	color: #E8E800;

	text-decoration: none;

}

.a_jaune2:active {

	color: #FFFFFF;

	text-decoration: none;

}

.a_bleu:link {

	color: #FFFFFF;

	text-decoration: none;

}

.a_bleu:visited {

	color: #FFFFFF;

	text-decoration: none;

}

.a_bleu:hover {

	color: #80aed0;

	text-decoration: none;

}

.a_bleu:active {

	color: #FFFFFF;

	text-decoration: none;

}

.a_gris:link {

	color: #666666;

	text-decoration: none;

}

.a_gris:visited {

	color: #666666;

	text-decoration: none;

}

.a_gris:hover {

	color: #E8E800;

	text-decoration: underline;

}

.a_gris:active {

	color: #666666;

	text-decoration: none;

}

.a_gris_underline:link {

	color: #666666;

	text-decoration: none;

}

.a_gris_underline:visited {

	color: #666666;

	text-decoration: none;

}

.a_gris_underline:hover {

	color: #666666;

	text-decoration: underline;

}

.a_gris_underline:active {

	color: #666666;

	text-decoration: none;

}

.table_gris {	

	background-color: #2b2a2a;

	margin: 0 0 5px;

}

.txt_blc12 {	color: #FFFFFF;

	font-size: 12px;

}

.txt_blc13 {	color: #FFFFFF;

	font-size: 13px;

}

.txt_blc11 {	color: #FFFFFF;

	font-size: 11px;

}

.txt_15 {	

	font-size: 15px;

}

.txt_20 {	

	font-size: 20px;

	font-weight: 700;

}

.txt_27 {	

	font-size: 27px;

	font-weight: 700;

}

.txt_gris10 {

	color: #666666;

	font-size: 10px;

}

.bg_33 {background-color:#333;}

.editer_texte {

    display: none;

}

.margin_right20 {

    padding-right: 20px;

}

.fancybox img, .mediabox img{

    border: thin solid #3c3c3c;

    padding: 3px;

	margin: 2px;

}

.inscription .formulaire_login, .inscription .formulaire_inscription {



}

.bt_plus {

	    border-radius: 3px 3px 3px 3px;

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 0 3px #FFFFFF inset;

    color: #CCC;

    cursor: pointer;

    display: inline-block;

    filter: none;

    font: bold 11px/15px Sans-Serif;

    padding: 5px 10px;

    vertical-align: middle;

    white-space: nowrap;

	margin: 10px 10px 0;

	-moz-border-radius: 3px !important;

	-webkit-border-radius: 3px !important;

	border-radius: 3px !important;

/* IE9 SVG, needs conditional override of 'filter' to 'none' */

	filter:none;

   -pie-background:      linear-gradient(top, white, #E0E0E0);

   box-shadow:         0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px #fff;

   border:0;

 }

.bt_plus a:hover {

	color: #ffe720;

}

.txt_gris11 {

	color: #666666;

	font-size: 11px;

}

.txt_jaune {

	color: #BCBCBC;

}

.txt_blc {	color: #FFFFFF;

}



.txt_yellow {

	color: #FFE720;

}

.txt_blue {

	color: #66ccff;

}

.txt_jaune_gras {

	color: #FFE720;

	font-weight: bold;

	font-size:11px;

}

.txt_jaune11b {

	color: #FFE720;

	font-weight: bold;

	font-size:11px;

}

.txt_red12b {

	font-size: 12px;

	font-weight: bold;

	color: #DC0F0A;

}

.txt_red16b {

	font-size: 16px;

	font-weight: bold;

	color: #DC0F0A;

}

.txt_red {

	color: #DC0F0A;

}

.txt_13 {

	font-size: 13px;

}

.txt_12 {

	font-size: 12px;

}

.txt_11 {

	font-size: 11px;

}



.bg_cadrec02 {

	background-image: url(../images/c_c02.jpg);

	background-repeat:repeat-x;

}



.bg_traitx {

	background-image: url(../images/bg_trait.jpg);

	background-repeat:repeat-x;

}

div.txt_gris10 {

    color: #666;

    padding: 16px 0 0;

}

div.txt_gris10 .a_gris:hover {

	color: #66ccff;

    padding: 16px 0 0;

}

.margin_top5 { margin-top:5px;}

#roll01 {

	background-image: url(../images/m_accueil01.jpg);

	background-repeat:no-repeat;

	position:relative;

	height: 73px;

	width: 450px;

}

#roll01:hover {

	background-image: url(../images/m_accueil02.jpg);

	height: 73px;

	width: 450px;

	background-repeat: no-repeat;

}

#roll02 {

	background-image: url(../images/m_accueil03.jpg);

	background-repeat:no-repeat;

	position:relative;

	height: 73px;

	width: 450px;

}

#roll02:hover {

	background-image: url(../images/m_accueil04.jpg);

	height: 73px;

	width: 450px;

	background-repeat: no-repeat;

}

#roll03 {

	background-image: url(../images/m_accueil05.jpg);

	background-repeat:no-repeat;

	position:relative;

	height: 73px;

	width: 450px;

}

#roll03:hover {

	background-image: url(../images/m_accueil06.jpg);

	height: 73px;

	width: 450px;

	background-repeat: no-repeat;

}

#roll04 {

	background-image: url(../images/m_inscription01.jpg);

	background-repeat:no-repeat;

	position:relative;

	height: 36px;

	width: 450px;

}

#roll04:hover {

	background-image: url(../images/m_inscription02.jpg);

	height: 36px;

	width: 450px;

	background-repeat: no-repeat;

}

.retrait { margin-left: 15px;}

#roll01_eng {

	background-image: url(../images/m_accueil01_eng.jpg);

	background-repeat:no-repeat;

	position:relative;

	height: 73px;

	width: 450px;

}

#roll01_eng:hover {

	background-image: url(../images/m_accueil02_eng.jpg);

	height: 73px;

	width: 450px;

	background-repeat: no-repeat;

}

#roll02_eng {

	background-image: url(../images/m_accueil03_eng.jpg);

	background-repeat:no-repeat;

	position:relative;

	height: 73px;

	width: 450px;

}

#roll02_eng:hover {

	background-image: url(../images/m_accueil04_eng.jpg);

	height: 73px;

	width: 450px;

	background-repeat: no-repeat;

}

#roll03_eng {

	background-image: url(../images/m_accueil05_eng.jpg);

	background-repeat:no-repeat;

	position:relative;

	height: 73px;

	width: 450px;

}

#roll03_eng:hover {

	background-image: url(../images/m_accueil06_eng.jpg);

	height: 73px;

	width: 450px;

	background-repeat: no-repeat;

}

#roll04_eng {

	background-image: url(../images/m_inscription02_eng.jpg);

	background-repeat:no-repeat;

	position:relative;

	height: 36px;

	width: 450px;

}

#roll04_eng:hover {

	background-image: url(../images/m_inscription01_eng.jpg);

	height: 36px;

	width: 450px;

	background-repeat: no-repeat;

}

a.roll img { opacity: 1.0; filter:alpha(opacity=100); 

		border: 0px;

    border-color: #FFFFFF;

}

a.roll:hover img {opacity: 0.85;filter:alpha(opacity= 85);

	border: 0px;

}

.border1 {

	height: 20px;

	margin: 0;

	padding: 5px 4px 0 5px;

	border: 1px solid #212020;

}

.border2 {

	height: 20px;

	margin: 0;

	padding: 8px 0 0 5px;

}

.border3 {

    border: 1px solid #212020;

    height: 20px;

    margin: 0;

    padding: 5px 4px 0 5px;

    width: 300px;

}

.bg_menu_jaune {

	background-image: url(../images/bg_menu_forum.jpg);

	background-repeat: repeat-x;

	height: 35px;

	margin: 0;

	padding: 0;

}



.bg_menu_border {

	background-image: url(../images/bg_barre.jpg);

	background-repeat: repeat-x;

	height: 18px;

	margin: 0;

	padding: 0;	

	background-color: #212020;

}

.bg_top_saxo {

	background-image: url(../images/ban.jpg);

	background-repeat: no-repeat;

	margin: 0;

	padding: 0;	

}

#bouton {

	position:relative;

	height: 20px;

	width: 100%;

	background-color: #262626;

	font-size: 11px;

	color: #FFFFFF;

}

#bouton:hover {

	height: 20px;

	width: 100%;

	background-color: #2F2F2F;

}

.search_query { 

	width: 13em;

	margin:0;

	font-size : 11px;

	color: #454449 }



input.search_query {

	vertical-align: middle;

	padding: 2px 0 0 5px; }



select.forml {

	width: 15.9em;

	padding: 2px 0 0 5px; 

	margin : 8px 0 0;

	font-size : 11px;

	color: #454449

}

.marge_bottom10 {

	margin : 0 0 10px;

}

.marge_top10 {

	margin : 15px 0 0;

}

.margin_top10 {

	margin : 10px 0 0;

}

.margin_top6 {

	margin : 8px 15px 0;

}



.bloc {

	display:block;

	float:left;

	width:100%;

	height:35px;

	cursor: pointer;

}

.mbg{

}

.mbg:hover{

	background-image: url(../images/bg_menu_forum2.jpg);

	background-repeat: repeat-x;

	background-position: center top;

}

.a_menu:link {

	font-size: 13px;

	font-weight: bold;

	color: #4b5255;

	text-decoration: none;

}

.a_menu:visited {

	font-size: 13px;

	font-weight: bold;

	color: #4b5255;

	text-decoration: none;

}

.a_menu:hover {

	font-size: 13px;

	font-weight: bold;

	color: #FFF;

	text-decoration: none;

}

.a_menu:active {

	font-size: 13px;

	font-weight: bold;

	color: #4b5255;

	text-decoration: none;

}

.marge_top{

	padding: 9px 15px 0;

}

.ues_trait {

	border-top-width: thin;

	border-top-style: dotted;

	border-top-color: #444444;

	margin: 5px 0;

}

.ues_trait_titre {

	border-top-width: thin;

	border-top-style: solid;

	border-top-color: #444444;

	margin: 0px 0 10px;

}

h2 {margin:0; padding:0;}

h1 {margin:0; padding:0; color:#FFF; font-size:18px; text-transform:uppercase;}
h1.roboto {
    margin: 0 0 25px;
}
.cadre_color {

	background-color: #2F2F2F;

	border: thin solid #444444;

	-moz-box-sizing: border-box;

	border-radius: 14px;

	padding: 10px 20px;

	background-image: url(../images/bg_cadre.jpg);

	background-repeat: repeat-x;

	background-position: 0px 0px;

}

.cadre_color.log_aut {

    height: 306px;

    padding: 25px 20px 0 40px;

}



.formulaire_inscription .boutons, .formulaire_login .boutons {

    padding: 0;

}

.formulaire_login .choix {

    display: none;

}



.formulaire_inscription .boutons .submit, .formulaire_login .boutons .submit {

    border: 1px solid #eee;

    border-radius: 8px;

    color: #333;

    font-family: roboto;

    font-size: 15px;

    font-weight: bold;

    margin: 0;

    padding: 3px 17px;

}

.img_wrap {

    display: inline-block;

    padding: 2px;

    border: 1px solid #444;

    margin: 0px 0px;

}

.cadre_bg {

	background-image: url(../images/c_c02.jpg);

	background-repeat: repeat-x;

	background-position: 0px 0px;

}

li.editer_contact #contact, li.editer_choix #choix {display:none;}

.hero-bg{
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  background: #050505; /* fallback */
}

.hero-video{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: saturate(0.9) contrast(1.05);
}

/* Voile global noir */
.hero-overlay{
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.55);
}

/* Zone centrale protégée (calme) */
.hero-center-mask{
  position: absolute;
  inset: 0;
  width: min(720px, 92vw);
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(
    to right,
    rgba(0,0,0,0.85),
    rgba(0,0,0,0.60),
    rgba(0,0,0,0.85)
  );
  box-shadow: 0 0 120px rgba(0,0,0,0.75);
  border-left: 1px solid rgba(212,175,55,0.18); /* or discret */
  border-right: 1px solid rgba(212,175,55,0.18);
}

/* Contenu au-dessus */
.hero-content{
  position: relative;
  z-index: 2;
  min-height: 100vh;
  display: grid;
  place-content: center;
  text-align: center;
  padding: 6rem 1.25rem;
  color: #f5f2e9;
}

.hero-content h1{
  font-size: clamp(2rem, 4vw, 3.25rem);
  letter-spacing: 0.02em;
  margin: 0 0 0.75rem 0;
}

.hero-content p{
  max-width: 42rem;
  margin: 0 auto 1.5rem auto;
  color: rgba(245,242,233,0.85);
}

.hero-content .btn{
  display: inline-block;
  padding: 0.9rem 1.2rem;
  border-radius: 999px;
  border: 1px solid rgba(212,175,55,0.55); /* or */
  color: #f5f2e9;
  text-decoration: none;
  background: rgba(0,0,0,0.35);
  backdrop-filter: blur(6px);
}

/* Respect "réduire les animations" */
@media (prefers-reduced-motion: reduce){
  .hero-video{ display:none; }
  .hero-bg{ background: #050505 url("IMG/poster-hero.jpg") center/cover no-repeat; }
}
/* Bandeau plein écran */
.ues-logo-strip{
  width: 100%;
  background: #fff;
  border-top: 1px solid rgba(0,0,0,.08);
  border-bottom: 1px solid rgba(0,0,0,.08);
}

/* Ligne de logos : une seule ligne + scroll horizontal si besoin */
.ues-logo-strip-inner{
  padding: 14px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 28px;

  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.ues-logo-strip-inner img{
  height: 46px;
  width: auto;
  object-fit: contain;
  flex: 0 0 auto;
}

/* Optionnel : scrollbar discrète */
.ues-logo-strip-inner::-webkit-scrollbar{ height: 8px; }
.ues-logo-strip-inner::-webkit-scrollbar-thumb{ background: rgba(0,0,0,.15); border-radius: 999px; }
/* Bandeau bleu 100% largeur */
.ues-logo-strip{
  width: 100%;
  background: #73A7C8; /* ajuste au bleu exact si tu veux */
  padding: 28px 0;     /* hauteur du bandeau */
}

/* Marges latérales + centrage (comme sur ton image) */
.ues-logo-strip__container{
  max-width: 1200px;   /* largeur du "bloc" centré */
  margin: 0 auto;
  padding: 0 32px;     /* marge gauche/droite */
}

/* =========================
   Bandeau logos partenaires
   ========================= */

/* Bandeau blanc pleine largeur + liserés haut/bas */
.ues-logo-strip{
  width: 100%;
  background: #fff;
  border-top: 5px solid #CCC;
  border-bottom: 1px solid rgba(0,0,0,.15);
}

/* Contenu centré + marges latérales */
.ues-logo-strip__container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px 48px;
}

/* Logos sur une seule ligne, centrés */
.ues-logo-strip__row{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: nowrap; /* IMPORTANT : une seule ligne */
}

/* Base logo (transparent) */
.ues-logo{
  display: block;
  width: auto;
  object-fit: contain;
  background: transparent;
  padding: 0;
  border-radius: 0;
}

/* Tailles par logo (pour reproduire la disposition de ton exemple) */
.ues-logo--selmer{ height: 115px; }
.ues-logo--vandoren{ height: 83px; }
.ues-logo--hautes-alpes{ height: 115px; }
.ues-logo--gap{ height: 79px; }

/* Responsive : on garde la ligne, on scroll si ça ne tient pas */
@media (max-width: 900px){
  .ues-logo-strip__container{
    padding: 18px 18px;
  }

  .ues-logo-strip__row{
    justify-content: flex-start;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    gap: 40px;
  }
}
img.ues-logo.ues-logo--gap {
    height: 75px;
}

img.ues-logo.ues-logo--vandoren {
       height: 240px;
    max-height: 170px;
}
/* Le "bloc" qui contient le titre + le bandeau */
.ues-logo-strip-wrap{
  width: 100%;
}

/* Titre AU-DESSUS du bandeau blanc, aligné à gauche,
   avec les mêmes marges latérales que le container */
.ues-logo-strip__title{
max-width: 1200px;
    margin: 0 auto 4px auto;
    padding: 0 101px;
    text-align: left;
    font-size: 14px;
    color: #CCC;
}

/* Responsive : même logique que le bandeau */
@media (max-width: 900px){
  .ues-logo-strip__title{
    padding: 0 18px;
  }
}
.ues-slides{
background: #bfe2ff; /* ton bleu clair */
border-top: 8px solid #7aa3c9;
padding: 60px 0;
}


.ues-video-box{
background: #fff;
min-height: 340px; /* ajuste */
width: 100%;
margin-top: 40px;
}
/* état actif pour les boutons du "menu" */
.ues-tabbtn.is-active{
font-weight: 700;
outline-offset: 2px;
}
.ues-slides .container-xxl {
    margin-bottom: 50px;
}

/* Marges latérales + centrage */
.ues-logo-strip__container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
}

/* Logos sur une ligne, centrés */
.ues-logo-strip__row{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;       /* si écran trop petit */
}

/* Logos transparents */
.ues-logo{
  height: 115px;         /* demandé */
  width: auto;
  object-fit: contain;
  display: block;

  background: transparent;
  padding: 0;
  border-radius: 0;
}
/* Encart "Enseignement" à la place du clip vidéo */
.ues-enseignement-box {
    color: #fff;
    padding: 63px 0 0 0;
}

.ues-enseignement-title{
  font-weight: 800;
  letter-spacing: .2px;
}

.ues-enseignement-table{
  color: #fff;
  margin: 0;
}

.ues-enseignement-table td,
.ues-enseignement-table th{
  border-color: rgba(255,255,255,.12);
  padding: 14px 12px;
  vertical-align: top;
}

.ues-enseignement-col-title{
  width: 28%;
  font-weight: 800;
  white-space: nowrap;
}

.ues-enseignement-mail{
  color: #fff;
  text-decoration: underline;
}
.ues-enseignement-mail:hover{
  opacity: .85;
}
/* Slide Historique */
.ues-histo-text{
  text-align: justify;
  line-height: 1.55;
}

.ues-histo-figure{
  margin: 0;
  background: #fff;
  border: 1px solid rgba(0,0,0,.12);
  padding: 12px;
}

.ues-histo-img{
  display: block;
  width: 100%;
  height: auto;
}

.ues-histo-caption{
  margin-top: 10px;
  font-size: 13px;
  opacity: .85;
}

/* Optionnel: rendre l'image "collante" sur desktop */
@media (min-width: 992px){
  .ues-histo-figure{
    position: sticky;
    top: 110px; /* ajuste selon ton header */
  }
}
.ues-histo-banner{
  border: 1px solid rgba(0,0,0,.12);
  background: #fff;
  padding: 8px;
}