/* Custom style to make the hero section video cover the entire section */
#hero {
  position: relative;
  overflow: hidden;
}
#hero .video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
#hero > .container, #hero > div.container {
  position: relative;
  z-index: 1;
}
